<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shf.ggkt.live.mapper.LiveCourseMapper">
    <resultMap id="liveCourseMap" type="com.shf.ggkt.vo.live.LiveCourseVo" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,
        course_id,
        course_name,
        start_time,
        end_time,
        teacher_id,
        cover,
        create_time,
        update_time,
        is_deleted
    </sql>

    <select id="getLatelyList" resultMap="liveCourseMap">
        select
        <include refid="columns"/>
        from live_course
        where date(start_time) >= curdate()
        order by id asc
        limit 5
    </select>
</mapper>
